* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box
}
.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 300px;
    gap: 10px;
}
.start {
    background: darkcyan;
    color: white;
    width: 100px;
    height: 50px;
    border: 1px solid darkcyan;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    border-radius: 4px;

}
.close {
    background: red;
    color: white;
    width: 100px;
    height: 50px;
    border: 1px solid red;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    border-radius: 4px;

}
.input {
    width: 100px;
    height: 50px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    border-radius: 4px;
    border:  1px solid gold;
}
.text {
    width: 100px;
    height: 50px;  
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
}